## Step 1: Data Quality and Cleaning
---

In [61]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from dash import Dash, dcc, html, Input, Output
from jupyter_dash import JupyterDash


# loaded the primary dataset
df = pd.read_csv('NASDAQ_1962_2024.csv')

print("First few rows of the dataset:")
display(df.head())

missing_values = df.isnull().sum().to_frame(name='Missing Values')
print("Missing values in each column:")
display(missing_values)

stats = df.describe()
print("Basic statistics of the dataset:")
display(stats)

duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

df = df.drop_duplicates()

df_cleaned = df.dropna()

df_cleaned.to_csv('NASDAQ_1962_2024_cleaned.csv', index=False)

First few rows of the dataset:

         Date Ticker Exchange  Open   High   Low  Close  Adj Close     Volume
0  2008-01-29   AACG   NASDAQ  9.50   9.99  8.57   8.75   0.702589  1489000.0
1  2008-01-30   AACG   NASDAQ  8.75   9.15  8.30   8.50   0.682515   219000.0
2  2008-01-31   AACG   NASDAQ  8.49  10.30  8.49   9.55   0.766826   182300.0
3  2008-02-01   AACG   NASDAQ  9.93   9.94  9.50   9.51   0.763614    28200.0
4  2008-02-04   AACG   NASDAQ  9.50   9.71  9.50   9.50   0.762811     8300.0

Missing values in each column:

           Missing Values
Date                    0
Ticker                470
Exchange                0
Open                  130
High                  130
Low                   130
Close                 130
Adj Close             130
Volume                130

Basic statistics of the dataset:

,Open,High,Low,Close,Adj Close,Volume
count,1.147083e+07,1.147083e+07,1.147083e+07,1.147083e+07,1.147083e+07,1.147083e+07
mean,4.334294e+06,4.515192e+06,4.127968e+06,4.333093e+06,4.332938e+06,1.469437e+06
std,4.395184e+08,4.580069e+08,4.167883e+08,4.394594e+08,4.394594e+08,1.718761e+07
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-4.232767e+00,0.000000e+00
25%,5.540000e+00,6.000000e+00,5.740000e+00,5.875000e+00,4.680035e+00,5.267000e+03
50%,1.438000e+01,1.490476e+01,1.431000e+01,1.460000e+01,1.168000e+01,5.500000e+04
75%,3.442500e+01,3.540000e+01,3.407000e+01,3.475000e+01,3.039414e+01,3.680000e+05
max,1.356750e+11,1.370250e+11,1.275750e+11,1.363500e+11,1.363500e+11,7.421641e+09

Number of duplicate rows: 0

---
## Step 2: Data Abstraction
---

In [62]:
# deriving the average price
df_cleaned = df_cleaned.copy()
df_cleaned['Average_Price'] = (df_cleaned['Open'] + df_cleaned['High'] + df_cleaned['Low'] + df_cleaned['Close']) / 4

print("First few rows with the new attribute:")
display(df_cleaned.head())

economic_events = pd.DataFrame({
    'Date': ['1987-10-19', '2001-09-11', '2008-09-15', '2020-03-11', '2016-06-23'],
    'Event': ['Black Monday', '9/11', '2008 Crisis', 'COVID-19', 'Brexit']
})

# integrates economic events on date
df_enriched = pd.merge(df_cleaned, economic_events, how='left', left_on='Date', right_on='Date')

print("First few rows of the enriched dataset:")
display(df_enriched.head())

# saving the new data
df_enriched.to_csv('NASDAQ_1962_2024_enriched.csv', index=False)

First few rows with the new attribute:

,Date,Ticker,Exchange,Open,High,Low,Close,Adj Close,Volume,Average_Price
0,2008-01-29,AACG,NASDAQ,9.50,9.99,8.57,8.75,0.702589,1489000.0,9.2025
1,2008-01-30,AACG,NASDAQ,8.75,9.15,8.30,8.50,0.682515,219000.0,8.6750
2,2008-01-31,AACG,NASDAQ,8.49,10.30,8.49,9.55,0.766826,182300.0,9.2075
3,2008-02-01,AACG,NASDAQ,9.93,9.94,9.50,9.51,0.763614,28200.0,9.7200
4,2008-02-04,AACG,NASDAQ,9.50,9.71,9.50,9.50,0.762811,8300.0,9.5525

First few rows of the enriched dataset:

,Date,Ticker,Exchange,Open,High,Low,Close,Adj Close,Volume,Average_Price,Event
0,2008-01-29,AACG,NASDAQ,9.50,9.99,8.57,8.75,0.702589,1489000.0,9.2025,NaN
1,2008-01-30,AACG,NASDAQ,8.75,9.15,8.30,8.50,0.682515,219000.0,8.6750,NaN
2,2008-01-31,AACG,NASDAQ,8.49,10.30,8.49,9.55,0.766826,182300.0,9.2075,NaN
3,2008-02-01,AACG,NASDAQ,9.93,9.94,9.50,9.51,0.763614,28200.0,9.7200,NaN
4,2008-02-04,AACG,NASDAQ,9.50,9.71,9.50,9.50,0.762811,8300.0,9.5525,NaN

In [63]:
# display the first two rows of the dataset
sample_data = df_enriched.head(2)
print("Sample data:\n")
display(sample_data)

# abstraction
data_types = df_enriched.dtypes
print("Data types of each column:\n")
display(data_types)

Sample data:

,Date,Ticker,Exchange,Open,High,Low,Close,Adj Close,Volume,Average_Price,Event
0,2008-01-29,AACG,NASDAQ,9.50,9.99,8.57,8.75,0.702589,1489000.0,9.2025,NaN
1,2008-01-30,AACG,NASDAQ,8.75,9.15,8.30,8.50,0.682515,219000.0,8.6750,NaN

Data types of each column:

Date              object
Ticker            object
Exchange          object
Open             float64
High             float64
Low              float64
Close            float64
Adj Close        float64
Volume           float64
Average_Price    float64
Event             object
dtype: object

---
## Step 3: Plotly App Creation
---

In [69]:

# loading data

df_cleaned = pd.read_csv('NASDAQ_1962_2024_cleaned.csv')
df_cleaned['Date'] = pd.to_datetime(df_cleaned['Date'])

# data frame for economic events
economic_events = pd.DataFrame({
    'Date': ['1987-10-19', '2001-09-11', '2008-09-15', '2020-03-11', '2016-06-23'],
    'Event': ['Black Monday', '9/11', '2008 Crisis',  'COVID-19', 'Brexit']

})

economic_events['Date'] = pd.to_datetime(economic_events['Date'])

# Dash/Plotly app
app = Dash(__name__)

app.layout = html.Div([

    html.H1(
        "Stock Data Visualization",
        style={'color': 'white', 'textAlign': 'center', 'marginBottom': '20px', 'font-family': 'helvetica'}
    ),

    html.Div([
        html.Button("Historical Stock Performance", id='btn-stock-performance', n_clicks=1, style={'marginRight': '10px'}),
        html.Button("Feature Comparison", id='btn-feature-comparison', n_clicks=0, style={'marginRight': '10px'}),
        html.Button("Impact Heatmap", id='btn-impact-heatmap', n_clicks=0)
    ], 

    style={'textAlign': 'center', 'marginBottom': '20px'}),

    html.Div(id='page-content')

],  style={'backgroundColor': '#111', 'padding': '20px'})

@app.callback(
    Output('page-content', 'children'),
    [Input('btn-stock-performance', 'n_clicks'),
     Input('btn-feature-comparison', 'n_clicks'),
     Input('btn-impact-heatmap', 'n_clicks')]
)

def display_page(n_clicks_stock, n_clicks_feature, n_clicks_heatmap):

    if n_clicks_stock > n_clicks_feature and n_clicks_stock > n_clicks_heatmap:

        return html.Div([

            html.H1(
                "Historical Stock Performance",
                style={'color': 'white', 'textAlign': 'center', 'marginBottom': '20px', 'font-family': 'helvetica'}
            ),

            dcc.Dropdown(id='stock-dropdown', options=[{'label': ticker, 'value': ticker} for ticker in df_cleaned['Ticker'].unique()], value=['AAPL', 'MSFT'], multi=True,
                style={'backgroundColor': '#333', 'color': 'blue', 'font-family': 'helvetica'}
            ),

            dcc.Graph(id='stock-graph'),

            dcc.DatePickerRange(id='date-picker', start_date=df_cleaned['Date'].min(), end_date=df_cleaned['Date'].max(), display_format='YYYY-MM-DD',
                style={'backgroundColor': '#333', 'color': 'white', 'marginTop': '20px', 'marginBottom': '20px'}
            )

        ])
    elif n_clicks_feature > n_clicks_stock and n_clicks_feature > n_clicks_heatmap:

        return html.Div([
            html.H1(
                id='feature-comparison-title',
                style={'color': 'white', 'textAlign': 'center', 'marginTop': '40px', 'marginBottom': '20px', 'font-family': 'helvetica'}
            ),

            dcc.Dropdown(id='single-stock-dropdown', options=[{'label': ticker, 'value': ticker} for ticker in df_cleaned['Ticker'].unique()], value='AAPL',
                style={'backgroundColor': '#333', 'color': 'blue', 'font-family': 'helvetica'}
            ),

            dcc.Dropdown(id='feature-dropdown',
                options=[{'label': 'Open', 'value': 'Open'},
                         {'label': 'High', 'value': 'High'},
                         {'label': 'Low', 'value': 'Low'},
                         {'label': 'Close', 'value': 'Close'},
                         {'label': 'Adjusted Close', 'value': 'Adj Close'},
                         {'label': 'Volume', 'value': 'Volume'},
                         {'label': 'Average Price', 'value': 'Average_Price'}],
                         value=['Close', 'Volume'], multi=True,
                style={'backgroundColor': '#333', 'color': 'black', 'marginTop': '20px', 'marginBottom': '20px', 'font-family': 'helvetica'}
            ),
            dcc.Graph(id='feature-graph'),

            dcc.DatePickerRange(id='date-picker-feature', start_date=df_cleaned['Date'].min() , end_date=df_cleaned['Date'].max(), display_format='YYYY-MM-DD',
                style={'backgroundColor': '#333', 'color': 'white', 'marginTop': '20px', 'marginBottom': '20px'}
            )

        ])
    elif n_clicks_heatmap > n_clicks_stock and n_clicks_heatmap > n_clicks_feature:

        return html.Div([

            html.H1(
                "Impact Heatmap for Economic Events",
                style = {'color': 'white', 'textAlign': 'center', 'marginTop': '40px', 'marginBottom': '20px', 'font-family': 'helvetica'}
            ),

            dcc.Dropdown(id='heatmap-stock-dropdown', options=[{'label': ticker, 'value': ticker} for ticker in df_cleaned['Ticker'].unique()], value=['AAPL', 'MSFT', 'TSLA'], multi=True,
                style = {'backgroundColor': '#333', 'color': 'blue', 'font-family': 'helvetica', 'marginBottom': '20px'}
            ),

            dcc.Graph(id='heatmap-graph'),

            dcc.DatePickerRange(id='heatmap-date-picker', start_date=df_cleaned['Date'].min(), end_date=df_cleaned['Date'].max(),display_format='YYYY-MM-DD',
                style = {'backgroundColor': '#333', 'color': 'white', 'marginTop': '20px', 'marginBottom': '20px'}
            )

        ])

@app.callback(

    Output('stock-graph', 'figure'),
    [Input('stock-dropdown', 'value'),
     Input('date-picker', 'start_date'),
     Input('date-picker',  'end_date')]

)

def update_stock_graph(selected_stocks, start_date, end_date):

    filtered_df = df_cleaned[(df_cleaned['Ticker'].isin(selected_stocks)) & (df_cleaned['Date'] >= start_date) & (df_cleaned['Date'] <= end_date)]

    fig = go.Figure()

    for stock in selected_stocks:
        stock_df = filtered_df[filtered_df['Ticker'] == stock]
        fig.add_trace(go.Scatter(x=stock_df['Date'], y=stock_df['Close'], mode='lines', name = stock))

    fig.update_layout(title="Historical Stock Performance", xaxis_title='Date', yaxis_title='Stock Price (Close)', template='plotly_dark')
    
    return fig

@app.callback(
    Output('feature-graph', 'figure'),
    [Input('single-stock-dropdown', 'value'),
     Input('feature-dropdown', 'value'),
     Input('date-picker-feature', 'start_date'),
     Input('date-picker-feature', 'end_date')]
)

def update_feature_graph(selected_stock, selected_features, start_date, end_date):
    filtered_df = df_cleaned[(df_cleaned['Ticker'] == selected_stock) & (df_cleaned['Date'] >= start_date) & (df_cleaned['Date'] <= end_date)]

    fig = go.Figure()

    for feature in selected_features:
        fig.add_trace(go.Scatter(x=filtered_df['Date'], y = filtered_df[feature], mode='lines', name =feature))

    fig.update_layout(title=f"{selected_stock} Feature Comparison", xaxis_title='Date', yaxis_title='Value', template='plotly_dark')
    
    return fig

@app.callback(
    Output('feature-comparison-title', 'children'),
    [Input('single-stock-dropdown', 'value')]
)

def update_feature_comparison_title(selected_stock):
    return f"{selected_stock} Feature Comparison"

@app.callback(
    Output('heatmap-graph', 'figure'),
    [Input('heatmap-date-picker', 'start_date'),
     Input('heatmap-date-picker', 'end_date'),
     Input('heatmap-stock-dropdown', 'value')]
)

def update_heatmap(start_date, end_date, selected_stocks):
    filtered_df = df_cleaned[(df_cleaned['Date'] >= start_date) & (df_cleaned['Date'] <= end_date) & (df_cleaned['Ticker'].isin(selected_stocks))]

    heatmap_data = filtered_df.pivot_table(index='Ticker', columns='Date', values='Close', aggfunc='mean')
    heatmap_data = heatmap_data.pct_change(axis='columns').fillna(0)

    fig = go.Figure(data=go.Heatmap( z=heatmap_data.values, x=heatmap_data.columns, y=heatmap_data.index, colorscale='RdYlGn', zmid=0))

    for event_date in economic_events['Date']:
        fig.add_shape( type="line", x0=event_date, y0 = 0, x1 = event_date, y1 = 1, xref='x', yref ='paper', line = dict(color = "blue", width = 2))
        event = economic_events.loc[economic_events['Date'] == event_date, 'Event'].values[0]

        fig.add_annotation( x=event_date, y=1.02, xref='x', yref='paper', text=event, showarrow=False, yanchor='bottom', font=dict(color="lightblue"), bgcolor="rgba(0, 0, 0, 0.5)",  textangle=0 )

    fig.update_layout(title="          ", xaxis_title='Date' , yaxis_title='Ticker', template='plotly_dark', margin={'l': 60, 'r': 60, 't': 60, 'b': 60},
        annotations=[ dict(
                x = event_date, y=1.02, xref = 'x', yref = 'paper',
                text = event,
                showarrow = False,
                yanchor = 'bottom', 
                font = dict(color="yellow"),
                bgcolor = "rgba(0, 0, 0, 0.5)",
                textangle = 0
            ) for event_date, event in zip(economic_events['Date'], economic_events['Event'])
        ])
    
    return fig

if __name__ == '__main__':
    app.run_server(debug=True)

/var/folders/27/lhbdvvhn3t1f8th_ry1zpmtr0000gn/T/ipykernel_66373/3915548454.py:179: FutureWarning:

The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.

/var/folders/27/lhbdvvhn3t1f8th_ry1zpmtr0000gn/T/ipykernel_66373/3915548454.py:179: FutureWarning:

The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.

/var/folders/27/lhbdvvhn3t1f8th_ry1zpmtr0000gn/T/ipykernel_66373/3915548454.py:179: FutureWarning:

The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.